.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
**/*.class
**/*.ctxt
*.sublime-workspace
.Rproj.user
*.Rhistory
*.txt
*.RObj
*.RData

DotNet/**/bin/*
DotNet/**/obj/*

*.suo
*.history
*.csv
